body{
	font-size:25px;	
}
p span, .footer{
	font-size:20px;	
}
.main {
	header {
		h1{
			width:70%;
			font-size:40px;
			&:before, &:after{
				font-size:90px;	
				margin:-10px 0 0;
			}
			&:after{
				margin: -60px 0 0;	
			}
		}
		/*nav{
			@extend .border box;;
			width:100%;
			background:$primary;
			padding:0 0 0 5%;
			ul li a{
				color:$bg;	
				width:auto;
				padding:5px 10px;
				height:50px;
				line-height:50px;
				font-size:22px;
				margin:0 5%;
				text-align:left;
				&:before{
					position:static;	
					width:auto;
					margin:0 5px 0 0;
				}
			}
		}*/
	}
	.content {
		#about, #projects, #contact{
			min-height:0;	
		}
		h3 span {
			font-size:20px;	
			line-height:35px;
		}
		#about {
			h3{
				padding:0 10% 0 0;	
			}
			.skills h3{
				padding:0 30% 0 0;	
			}
		}
		#projects ul li{
			margin: 10px 3.5%;	
		}
		#contact {
			label input{
				width:50%;	
			}
			label.message textarea{
				width:50%;	
			}
			.social li{
				font-size:22px;	
			}
		}
	}
	&.projects{
		header .other_projects{
			max-width:30%;	
		}
		figure, p{
			width:100%;	
		}
	}
}