@import './base.scss';

* {
    box-sizing: border-box;	
}

body {
  background: $primary;	
  color: $gray;
  font-family: 'Doppio One', sans-serif;
  font-size: 18px;
}

.default-container {
  background: url('/img/bg.jpg') white;
  margin: 20px 2%;
  padding: 20px 40px;
  position: relative;
  width: 96%;
}

h1, 
h2 {
  font-family: 'Roboto Condensed', sans-serif;	
  font-weight:normal;
}

ul {
  padding: 0;	
}

figure {
  margin: 0;
  padding: 0;	
}

p {
  margin: 5px 0;
  width: 100%;	
  .off {
    font-size: 12px;	
    text-decoration: line-through;
  }
  a {
      color: $primary;	
      font-family: 'Roboto Condensed', sans-serif;
      text-decoration: none;
      
      &:hover {
          @extend .transition;
          text-decoration: underline;	
      }

  }
}

h2 {
  color: $primary;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  &:before {
      @extend .ico_font;
      line-height: 40px;
      margin: 0 10px 0 0;	
  }

}

strong {
  color: $primary;	
  font-weight: normal;
}

li {
  list-style: none;	
}
