@font-face {
	font-family: 'thais';
	src:url('http://thais-molica.github.io/img/fonts/thais.eot');
	src:url('http://thais-molica.github.io/img/fonts/thais.eot?#iefix') format('embedded-opentype'),
		url('http://thais-molica.github.io/img/fonts/thais.ttf') format('truetype'),
		url('http://thais-molica.github.io/img/fonts/thais.woff') format('woff'),
		url('http://thais-molica.github.io/img/fonts/thais.svg#thais') format('svg');
	font-weight: normal;
	font-style: normal;
}
%ico_font {
	font-family: 'thais';	
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
%ico_me {
	content: "a";	
	text-transform: lowercase;
}
%ico_full_heart {
	content: "b";	
	text-transform: lowercase;
}
%ico_half_heart {
	content: "c";	
	text-transform: lowercase;
}
%ico_empty_heart {
	content: "d";	
	text-transform: lowercase;
}
%ico_study {
	content: "e";	
	text-transform: lowercase;
}
%ico_hammer {
	content: "f";	
	text-transform: lowercase;
}
%ico_fire {
	content: "g";	
	text-transform: lowercase;
}
%ico_comment {
	content: "h";	
	text-transform: lowercase;
}
%ico_skills {
	content: "i";	
	text-transform: lowercase;
}
%ico_projects {
	content: "j";	
	text-transform: lowercase;
}
%ico_linkedin {
	content: "k";	
	text-transform: lowercase;
}%ico_facebook {
	content: "l";	
	text-transform: lowercase;
}
%ico_softwares {
	content: "m";	
	text-transform: lowercase;
}
