@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8263ot');
  src:  url('fonts/icomoon.eot?8263ot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8263ot') format('truetype'),
    url('fonts/icomoon.woff?8263ot') format('woff'),
    url('fonts/icomoon.svg?8263ot#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
  content: "\e920";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}

