@import '../../assets/base.scss';

header {
    &:before,
    &:after {
        clear: both;
        content: '';
        display: table;
    }
    
    h1 {
        font-size: 60px;
        float: left;
        width: 620px;

        &:before {
            content: "{";	
            font-size: 110px;
            float: left;
            margin: 0 10px 0 0;
        }

        &:after {
            content: "}";	
            float: right;
            font-size: 110px;
            margin: -78px 0 0;
        }

        strong {
            @extend %border-box;
            float: left;
            width: 87%;

            &:after {
                color: $important;	
                content: "!important;";
                font-size: 15px;
            }

        }

    }

    .menu {
        @include box-shadow;
        right: 10px;
        position: fixed;	

        ul {

            li {
                background: $primary;
                display: inline-block;

                a {
                    @extend .transition;
                    color: $primary;
                    float: left;
                    font-family: 'Roboto', sans-serif;
                    font-size: 10px;	
                    height: 80px;
                    overflow: hidden;
                    padding: 20px 15px;
                    text-align: center;
                    text-decoration: none;
                    width: 80px;

                    &:before {
                        @extend %ico_font;
                        color: $bg;
                        display: block;
                        font-size: 30px;
                        margin-bottom: 5px;
                    }

                    &:hover {
                        color: $bg;
                    }

                }

                &.about a:before {
                    @extend %ico_me;
                }

                &.projects a:before {
                    @extend %ico_projects;
                }

                &.contact a:before {
                    @extend %ico_comment;
                }

            }

        }

    }

}