body {
	background: @primary-color;
	font-family: @font-family;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	list-style: none;
}
a {
	color: @text-color;
	text-decoration: none;
	&:hover {
		.transition();
		//text-decoration: underline;
	}
}

header {
	h1 {
		background: @os-header-bg;
		border-bottom: 4px solid @os-border-color; 
		color: @os-text-color;
		font-size: 20px;
		padding: 10px;
		text-align: center;
	}
	nav {
		float: left;
		padding: 10px;
		width: 150px;
		&:before {
			color: @secondary-color;
			content: "Folders";
			text-transform: uppercase;
		}
		li {
			display: block;
			margin: 10px 0;
			ul {
				display: none;
			}
		}
		a {
			color: @secondary-color;
			&:hover {
				color: darken(@secondary-color, 10%)
			}
			&:before {
				.icon-font; 
				content: @icon-folder;
				margin-right: 5px;
			}
		}
		.active {
			>a {
				color: @tertiary-color;
				&:before {
					content: @icon-folder-open;
				}
			}
			ul {
				display: block;
				margin-left: 10px;
			}
		}
		.html:before {
			content: @icon-html-five2;
		}
		.css:before {
			content: @icon-css3;
		}
		.js:before {
			content: @icon-js;
		}
	}
	.tabs {
		float: left;
		a {
			display: block;
			padding: 10px 0;
			&:hover {
				text-decoration: none;
			}
		}
		.close-tab:after {
			.icon-font;
			content: @icon-cross; 
			font-size: 7px;
			margin-left: 10px;
			vertical-align: top;
		}
	}
}

article {
	.border-radius(2px);
	background: @file-bg-color;
	bottom: 120px;
	left: 170px;
	position: absolute;
	right: 5px;
	top: 110px;
}

footer {
	bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
	ul a {
		display: block;
		margin: 10px 5px 15px;
		&:before {
			.icon-font();
			font-size: 25px;
		}
		&:hover {
			color: darken(@text-color, 30%);
			text-decoration: none;
		}
	}
	.linkedin:before {
		content: @icon-linkedin;
	}
	.github:before {
		content: @icon-github;
	}
	.email:before {
		content: @icon-hangouts;
	}
}