.main.projects{
	header{
		.other_projects{
			@extend .border-box;
			@include box-shadow;
			float:right;
			max-width:10%;
			position:fixed;
			background:$primary;
			right: 10px;
			padding:1px;
			font-size: 10px;
			li{
				float:left;
				width:100%;
				border:1px solid lighten($primary, 10);
				margin:1px 0;
				a{
					@extend .border-box;
					color:$bg;
					text-decoration:none;
					width:100%;
					padding:5px 10px;
					background:$primary;
					float:left;
					&:hover{
						@extend .transition;
						background:lighten($primary, 5);	
					}
					&.active{
						cursor:default;
						text-transform:uppercase;
						background:darken($primary, 2);	
					}
				}
			}
		}
	}
	figure{
		@extend .border-box;
		float:left;
		width:70%;
		padding:0 10px;
		img{
			width:100%;	
		}
	}
	p{
		width:30%;	
	}
	.btn{
		float:right;
		background:$gray;
		color:$bg;
		text-decoration:none;
		padding:0 10px;
		line-height:30px;
		height:30px;
		margin:10px 0;
		cursor:pointer;
		border:none;
		text-transform:uppercase;
		&:hover{
			@extend .transition;
			background:darken($gray, 5);	
		}
		&.call_to_action{
			background:$primary;
			margin:10px 0 10px 10px;
			&:hover{
				background:darken($primary, 5);	
			}
		}
	}
}